.navbar{
    display: flex;
    justify-content: space-around;
}

.navbar>p{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem;
}

body.dark{
    background-color: #333333;
    color: white;
}

header{
    text-align: center;
    border-bottom: 3px solid purple;
    margin: 15px 0 30px 0;
    padding-bottom: 15px;
}

#setup-game{
    margin: 10px 0px;
    display: flex; 
    justify-content: center;
}

#setup-game div {
    display: flex;
    justify-content: space-around;
    margin: auto;
}
#setup-game div label{
    margin: 15px;
    font-size: 25px;
}


button{
    justify-self: center;
    padding: 6px;
    margin: 5px 0 15px 0;
}


#game {
    display: block;
    justify-content: center;
    margin-top: 10px;
}

#number-container{
    display: flex;
    /* justify-content: left; */
    margin-left: 180px;
}

#number-container > p{
    border: 1px solid black;
    border-radius: 25%;
    width: 60px;
    height: 60px;
    font-size: 39px;
    margin: 30px 20px; 
    text-align: center;
}

#select-nums{
    font-size: 39px;
    margin: 30px 20px; 
    margin-left: 3px;
}

#board {
    height: auto;
    width: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly ; 
    margin: 0 auto;
}

.tile {
    background-color: whitesmoke;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 60px; 
    font-size: 30px; 
    color: green;  
}

.hidden{
    visibility:hidden;
}

p.selected,div.selected {
    background-color: lightblue;
}

div.incorrect{
    color: red;
}

/*--------------Borders-----------*/
.lsb{
    border-left: black 2px solid;
}
.bsb{
    border-bottom: black 2px solid;
}
.rsb{
    border-right: black 2px solid;
}
.tsb{
    border-top: black 2px solid;
}
.ldb{
    border-left: black 0.6px dashed;
}
.bdb{
    border-bottom: black 0.6px dashed;
}
.rdb{
    border-right: black 0.6px dashed;
}
.tdb{
    border-top: black 0.6px dashed;
}
/* ----------------------------------*/